<div id = 'flash-message'>
    {{#if messages.error}}
    <div id = 'error-message'>
        {{messages.error}}
    </div>
    {{else}}
    <div id = 'success-message'>
        {{messages.success}}
    </div>
    {{/if}}

</div>