<div id = "header">
    <a href='/'><img id = 'logo' src = '/public/images/assets/logo/header_alt_white.png' alt = 'SkillSeek'></a>
    <h6>SFSU Software Engineering Project CSC 648-848, Spring 2021. For Demonstration Only</h6>
</div>