<div id = 'org-form'>
    <fieldset>
        <label>
            Organization Name:
            <input type = "text" name = "first_" placeholder = "Organization Name" maxlength = "126">
        </label>
    </fieldset>

        <input type = "hidden" name = "accountType_" value = "employer">

    <label>
        Date of Establisment:
        <input type = "date" name = "dob_" id = "dob" min = '1899-00-01' max = "2020-00-01" pattern = "\d{4}-\d{2}-\d{2}">
    </label>
</div>