<head>
    <link rel = 'stylesheet' href = '/public/stylesheets/recovery.css'>
</head>

<h1>Set New Credentials</h1>
<fieldset>
    <legend>Please fill in both fields.</legend>
    <form action = '/recovery/credentials-submission' method = 'POST' enctype = 'application/x-www-form-urlencoded'>
        <table>
            <tr>
                <td>
                    <label> Password: </label>
                </td>
                <td>
                    <input type = 'password' name = 'password' placeholder = 'password' required>
                </td>
            </tr>
            <tr>
                <td>
                    <label> Confirm Password: </label>
                </td>
                <td>
                    <input type = 'password' name = 'cPassword' placeholder = 'password' required>
                </td>
            </tr>
        </table>
        <input type = 'submit' value = 'submit'>
        <input type = 'hidden' value = '' name = 'hash' id = 'hash'>             
    </form>
</fieldset>

<script>
    const hash = new URL(window.location.href).search.split('=')[1];
    document.getElementById('hash').value = hash;
</script>