<head>
    <link rel="stylesheet" href = "/public/stylesheets/verification.css">
</head>

<h3>Welcome! We are pleased that you have decided to join the SkillSeek community. We have sent a verification link to your email address. <br>
Please verify your account to login.</h3>