
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A short introduction.">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Ali Bin Sabir">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/stylesheets/style_portfolio.css">
</head>

<body>  
    <div class = "content">
        <div id = "info">
            <div>
                <img src="public/images/ali/Ali_pp.jpg" alt="Ali Bin Sabir ">
            </div>
            <div>
                <h2>Ali Bin Sabir</h2>
                <h3>Development</h3>
                <img src="public/images/assets/linkedin.png" onclick = "window.open(`https://www.linkedin.com/in/ali-bin-sabir-1a1b42145/`)" title = "LinkedIn Profile">
                <div class = "location">
                    <img src="public/images/assets/pin.png">
                    <h5> Livermore, CA </h5>
                </div>
            </div>
        </div>

        <div>
            <h4>Introduction:</h4>
            <h5>Hello,</h5>
            <h5 class = "paragraph">
                I'm a transfer student from New Jersey and currently a Junior.
                I'm currently located in in Livermore, CA. For the first two 
                Years of my time, I went to Montclair state university. I have 
                been interested in computer science since childhood. The reason 
                behind this is my whole family is in Computer field. I always been
                passionate about Computers, Mathematics, and Electrical field. 
                I believe my family insipred me to pursue my career in Computer 
                Science. I hope to continue my education to pursue Master degree
                in Computer science. I'm also learning Business in computer on
                side which I believe will help me in future. As for programming 
                language, my favorites are Python and Java. 
            </h5>
            <h5 class = "paragraph">
                Besides my background and ambitions in Computer Science,
                I love to play guitar, draw, going out on adventure and work on my car.
                I am fluent in English, Urdu and a bit of Arabic; I have had the privledge
                of living in 4 different countries and visiting more than 10 countries. 
            </h5>
        </div>

        <div id = "projects">
            <h4>Check out my other project(s):</h4>
            <div>
                <h5>
                    <a href="https://github.com/csc413-fall2020/final-project-the-peeps/">Linux</a>
                    : A group project for C++ class. 
                </h5>
            </div>
        </div>
    </div>
</body>