<head>
    <meta charset="UTF-8">
    <meta name="description" content="A short introduction.">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Emin Musayev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/stylesheets/style_portfolio.css">
</head>

<body>  
    <div class = "content">
        <div id = "info">
            <div>
            <img src="public/images/emin/profile.jpg" alt="Emin Musayev">
            </div>
            <div>
                <h2>Emin Musayev</h2>
                <h3>Team Leader/ Documentation Manager</h3>
                <img src="public/images/assets/linkedin.png" onclick = "window.open(`https://www.linkedin.com/in/emin-musayev-9b8010156/`)" title = "LinkedIn Profile">
                <div class = "location">
                    <img src="public/images/assets/pin.png">
                    <h5> San Jose, CA </h5>
                </div>
            </div>
        </div>

        <div>
            <h4>Introduction:</h4>
            <h5>Hello,</h5>
            <h5 class = "paragraph">
             I am Undergraudate Student on my last year in SFSU , I am currently living and residing in San Jose, California.
            Before begining this semsester, I applied for Graduation at Fall 2020 and still doing outside project concurrently with classes mostly related in the field of Games,Cyber Security and DevOps and hopefully by the end of my graduation all of my project will be in public that I have worked so far in the last 4 years will be updated to my personal Github.
            As of right now , currently my favorite languagea would have to be MySQL, Python , NodeJs, Java, and ReactJS. Now here as Junior student at SFSU my interest in learning new languages or looking to discover new technologies has significantly increased more than ever and I hope I use this passion I get from this class to help me understand and prepare for the real life job/corporation.
            To summarize, after this class I believe I can use my skills from this class when I graduate that I can comfortably pursue my dream career in either Cyber Security or DevOps. 
            </h5>
            <h5 class = "paragraph">
             Besides computer science, My personal hobbies would be that I love going to hunting for wild animals to expirence and conserve nature, reading Historical Books mainly on African/Turkic Empires, reading Biographies of Historical Important Figures, and partaking in Stock/Marketing . Outside of my hobbies,I personally have visited more than 20 countries in my lifetime outside of USA and also I speak three languages fluently which would be Turkish,Azeri and English . 
             Lastly. a fun fact about me would be that prior to computer science I was music producer for couple music record label companies outside of US and I just started recently on taking classes in masonry. 
            </h5>
        </div>

        <div id = "projects">
            <h4>Check out my other project(s):</h4>
            <div>
                <h5>
                   <a href="https://github.com/emusayev ">Github Link</a>
                   <h5> "Currently my projects are being updated so its empty. </h5>

                </h5>
            </div>
        </div>
    </div>
</body>
