
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A short introduction.">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Ramzi Abou Chahine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/stylesheets/style_portfolio.css">
</head>

<body>  
    <div class = "content">
        <div id = "info">
            <div>
                <img src="public/images/ramzi/ramzi_pp.jpg" alt="Ramzi Abou Chahine">
            </div>
            <div>
                <h2>Ramzi Abou Chahine  🇱🇧 🇧🇷</h2>
                <h3>Backend and Database Development</h3>
                <img src="public/images/assets/linkedin.png" onclick = "window.open(`https://www.linkedin.com/in/ramzi-a-9b890b194/`)" title = "LinkedIn Profile">
                <div class = "location">
                    <img src="public/images/assets/pin.png">
                    <h5> Dubai, UAE </h5>
                </div>
            </div>
        </div>

        <div>
            <h4>Introduction:</h4>
            <h5>Hello,</h5>
            <h5 class = "paragraph">
                I'm an international student from Lebanon and currently a senior. I lived in San Francisco, CA for the first three years of my time at SFSU until COVID-19 broke out. 
                Before the start of the Spring 2020 semester, I relocated to Dubai, UAE to be closer to my family. I have been interested in computers since I was young and have always 
                been passionate about the Sciences, particularly Mathmatics, Physics, and Chemistery. I believe it is this fascination that inspired me to pursue a career in Computer
                Science. I am uncertain about what field of CS I will find myself in; however, I hope to continue my education to achieve a Masters degree in Computer and Electrical
                Engineering to perhaps work on processors or other hardware. I'm also passionate about cryptography, so I consider that to be another viable career path given that I 
                build the required foundation in Mathematics. As for programming languages, my favorites include C, C++, and JavaScript.
            </h5>
            <h5 class = "paragraph">
                Besides my background and ambitions in Computer Science, I love to read books on philosophy, political-economic theory, and history. I enjoy programming, playing chess,
                and going on adventures in my free time. I am fluent in English and Arabic; French is my third language which I can speak with limitations. I have had the privledge of 
                living in 3 different countries and visiting over 25 others across 6 continents.
            </h5>
        </div>

        <div id = "projects">
            <h4>Check out my other project(s):</h4>
            <div>
                <img src="public/images/ramzi/LGE_Avatar.png" alt="LGE Discord Bot Icon">
                <h5>
                    <a href="https://ramzia961.github.io/LGE_BOT/">LGE_BOT</a>
                    : A discord bot for music, user ranks, timezones, and more. Implemented with JavaScript using Discordjs and MySQL. 
                </h5>
            </div>
        </div>
    </div>
</body>