<head>
    <meta charset="UTF-8">
    <meta name="description" content="introduction">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Melissa Gonzalez">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/stylesheets/style_portfolio.css">
</head>

<body>
    <div class="content">
        <div id="info">
            <div>
                <img src="public/images/assets/user.png">
            </div>
            <div>
                <h2>Melissa Gonzalez</h2>

                <div class="location">
                    <img src="public/images/assets/pin.png">
                    <h5> San Jose, CA </h5>
                </div>
            </div>
        </div>

        <div>
            <h4>About me:</h4>
            <h5 class="paragraph">
                I was always interested in computers ever since I could remember. Bugging my older cousins to use their
                computer was my specialty. Ironically, I went on to be the one they bugged to help them out with their
                computers. Growing up in Silicon Valley has definitely had a huge impact in my interest with technology.
                Driving around neighboring cities and passing various headquarters sparked motivation in me to want to
                pursue a career in tech. Now here I stand as a student going for a Computer Science degree in what I
                hope to be my last semester. I am still unsure what exactly I would like to do after I graduate, but
                anything frontend seems like the way to start!
            </h5>
            <h5 class="paragraph">
                Outside of school, my interests consist of: music, reading, traveling, and learning new things. I
                thoroughly enjoy playing the piano in my free time. I have visited 9 countries outside of the U.S.A and
                dream of traveling for work. I am fluent in both Spanish and English and currently am trying to learn
                French on my own. Fun fact about myself: I taught myself how to recite the alphabet backwards in the 3rd
                grade just for fun.
            </h5>
        </div>
    </div>
</body>